body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}

.sidebar-tab{
    border: 1px solid #ECECEF;
    color: #45496E;
    margin:0.5rem;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    background-image: linear-gradient(to right, #fff 50%, #45496e 50%);
    background-size: 200% 100%;
    transition: background-position 0.7s;
 }

.sidebar-tab:hover{
       background-position: -100% 0;
       color: white;
}
.sidebar-container{
  border-right: 1px solid #CCCEFD;
  background-color: #fff;
  position: fixed;
  /* height: 100%; */
}
.sidebar-active, .sidebar-active:hover{
    /* background-color: #45496E; */
    background-position: -100% 0;
    color: #ffffff;
}
.header-container{
    border-bottom: 1px solid #CCCEFD;
    color: #45496E;
    background-color: #fff;
    position: fixed;
}
.header-container .back-icon, .header-container .setting-icon{
    cursor: pointer;
}
.sidebar-tab-item{
 border-bottom: 1px solid #CCCEFD;
 padding: 10px 0;
}
.basetemplate-children-container{
    background-color: #f1f4f5;
    /* height: %; */
}
.sidebar-links{
    cursor: pointer;
}
