body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}

.sidebar-tab{
    /* border: 1px solid #ECECEF; */
    color: #7b8190;
    margin:0.5rem;
    padding: 1rem;
    border-radius: 10px;
    /* text-align: center; */
    cursor: pointer;
    background-color: #fff;
    border: none;
 }
/* 
.sidebar-tab:hover{
       background-position: -100% 0;
       color: white;
} */
.sidebar-container{
  border-right: 1px solid #CCCEFD;
  background-color: #fff;
  position: fixed;
  /* height: 100%; */
}
.sidebar-tab:hover{
    /* background-color: #45496E; */
    /* background-color: #f3f8fb; */
    color: #383c40;
}
.sidebar-active, .sidebar-active:hover{
    /* background-color: #45496E; */
   background-color: #f3f8fb;
   color: #5b73e8;
}
.header-container{
    border-bottom: 1px solid #CCCEFD;
    color: #45496E;
    background-color: #fff;
    position: fixed;
    box-shadow: 0 2px 4px rgba(15,34,58,.12);
    z-index: 1;
}
.header-container .back-icon, .header-container .setting-icon{
    cursor: pointer;
    color: #555b6d;
}
.sidebar-tab-item{
 border-bottom: 1px solid #CCCEFD;
 padding: 10px 0;
}
.basetemplate-children-container{
    background-color: #f5f6f8;
    /* height: %; */
}
.sidebar-links{
    cursor: pointer;
}
