.dashboard-heading {
    font-weight: bold;
    font-size: 1.5rem;
    color: #2b2e3b;
}

.SMW_percentage-container-green {
    /* border: 1px solid green; */
    padding: 1px 2px;
    background-color: #D6FBCF;
    font-size: 14px;
    color: #0B803A;
}


.SMW_percentage-container-red,
.PMW_percentage-container-red {
    /* border: 1px solid green; */
    padding: 1px 2px;
    background-color: #F9E6CB;
    font-size: 14px;
    color: #6C1A06;
}

.SMW_money-container-red,
.PMW_money-container-red {
    color: #6C1A06;
    font-size: 20px;
    font-weight: bolder;
}

.SMW_money-container-green {
    color: #0B803A;
    font-size: 20px;
    font-weight: bolder;
}

.PMW_money-container-green {
    color: #0B803A;
    font-size: 20px;
    font-weight: bolder;
}

.PMW_percentage-container-green {
    padding: 1px 2px;
    background-color: #D6FBCF;
    font-size: 14px;
    color: #0B803A;
}

.miniWidget-container,.stock-value-container, .low-stock-container,.TP_parent-container,.dashboard_chart-container {
    background-color: white;
    box-shadow: 2px 2px 10px -1px rgba(110, 115, 126, 0.75);
    -webkit-box-shadow: 2px 2px 5px -1px rgba(110, 115, 126, 0.75);
    -moz-box-shadow: 2px 2px 10px -1px rgba(110, 115, 126, 0.75);
}

.low-stock-container table thead th{
    padding: 5px;
    background-color: #e8f2f8;
}   
.DAW_pagination input{
    outline: none;
    border: 1px solid grey;
    border-radius: 3px;
}
.DAW_pagination button{
    border: none;
    background-color: white;
}
.TP_container>div:nth-child(1){
  background-color: #D6E4FF;
}
.TP_container>div:nth-child(2){
    background-color: #FFFDD3;
  }
  .TP_container>div:nth-child(3){
    background-color: #FFE7D7;
  }
  .TP_container img{
    width: 100%;
    height: 60px;
    object-position: center;
    object-fit: cover;
  }
.dashboard_chart-container{
   min-height: 400px;
   background-color: white;
   
  }