.export-download-icons button{
  border: none;
}
.money-in-container{
  color:#0E7E07 ; 
  font-weight: bold;
  font-size: 17px;
}
.money-out-container{
  color: #D11F51;
  font-weight: bold;
  font-size: 17px;
}
.daybook-action-list-container{
  cursor: pointer;
}