.addproduct-main-heading{
    font-weight: bolder;
    font-size: 1.2rem;
    color: #2b2e3b;
}
.addproduct-legend{
    font-size: 16px;
    font-weight: bold;
}
.app-btn{
    background-color: #45496E;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.product-meta-data{
    font-size: 14px;
}

.product-item-list{
    list-style-type: none;
}
.product-item-list li{
  padding: 10px;
}
.product-item-list li:hover{
    background-color: #e9ecef;
}