:root{
    --app-color : #45496e;
}
.setting-sidebar-container{ 
    color: var(--app-color);
    font-size: 19px;
    font-weight: 500;
}
.setting-tabs{
    padding: 10px;
    cursor: pointer;
}
.setting-tabs-active{
    background-color: #fff;
    border-right: 4px solid var(--app-color);
}
.setting-main-heading{
    font-weight: bolder;
    font-size: 1.2rem;
}