.stock-label {
    font-weight: bolder;
    font-size: 1.7rem;
}

.stock-table thead tr {
    padding: 25px;
}
.stock-table tr th{
    background-color: #f8f9fa;
    color: #343747;
}
.app-table{
    overflow-y: scroll;
    /* height: 200px; */
}
.app-table th{
  background-color: #45496E;
  color: white;
}
.stock-table-popup-container{
    height:300px;
    overflow-y: scroll;

}
